.ipynb_checkpoints*
__pycache__*

.vscode/
.idea/
.venv/

.env

data/*.csv

weights/**
log/**
notebooks/log
notebooks/mlruns

notebooks/Untitled.ipynb
notebooks/testing.ipynb

!weights/.gitkeep
!log/.gitkeep